<% provide(:title, "") %>
	<!-- header -->
	<%= render 'layouts/header' %>
	<!-- carousel -->
	
	<div id="demo" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
		  <li data-target="#demo" data-slide-to="0" class="active"></li>
		  <li data-target="#demo" data-slide-to="1"></li>
		  <li data-target="#demo" data-slide-to="2"></li>
		</ul>
		<div class="carousel-inner">
		  <div class="carousel-item active">
		  	<%= image_tag("thoitrang.jpg", :alt => "Fashion" ) %>
		  </div>
		  <div class="carousel-item">
		  	<%= image_tag("thoitrang.jpg", :alt => "Fashion" ) %>
		  </div>
		  <div class="carousel-item">
		   	<%= image_tag("thoitrang.jpg", :alt => "Fashion" ) %>
		  </div>
		</div>
	</div>
	<!-- content -->
	<div class="content">
		<div class="category">
			<div class="ct-left">
				<div class="ct-left1">
					<%= image_tag("thoitrangnu.jpg", :alt => "Woman" , :class => "category1" ) %>
				</div>	
			</div>
			<div class="ct-right">
				<div class="ct-right1">
					<%= image_tag("thoitrangnam.jpg", :alt => "Man" , :class => "category1" ) %>
				</div>
			</div>
		</div>	
		<div class="content3">
			<div class="ct-title2">
					<h1>Không Thể Bỏ Qua</h1>	
			</div>
		</div>
		<br>
		<div class="sanpham"> 
			<div class="khungsanpham"> 
			</div>
		</div>	
	</div>

																																																																																																																																																																																																																																																																																													
	<div class="clearfix"></div>
	<div class="footer">
		<div class="footerleft">
			<div class="footer1">
				<a href=""><h3>Shop Clothes</h3></a>
				<a href=""><p>Giới thiệu Shop</p></a>
				<a href=""><p>Quy Chế</p></a>
				<a href=""><p>Bảo Hành</p></a>
			</div>
		</div>
		<div class="footercenter">
			<div class="footer2">
				<a href=""><h3>Công Ty TNHH 1 Thành Viên </h3></a>
				<p>SDT:0111111111</p>
				<p>Diachi:LOL</p>
				<a href="#"><%= image_tag("iconfb.png", :alt => "Man" ) %></a>
				<a href="#"><%= image_tag("iconzalo.png", :alt => "Man" ) %></a>
			</div>
		</div>
		<div class="footerright">
			
		</div>
		<div id="peopleList"></div>

		<script id="personTmpl" type="text/x-jsrender">
		  <label>Name:</label> {{:name}}<br/>
		</script>
	</div>	
	<script type="text/javascript">
		var page = 1;
		var per = 4;
	  $.ajax({
	    url: 'http://localhost:3000/v1/products',
	    type: 'GET',
	    data: {page: page, per: per},
	    dataType: 'json',
	    success: function(data){
	    	var khungSanPham = $('.khungsanpham');
	    	$(data).each(function(index, el) {
	      	for (var i in el['data']) {
	      		var id = el['data'][i].id;
	      		var image = el['data'][i].image;
	      		var name = el['data'][i].name;
	      		var price = el['data'][i].price;
	      		var divRow = $('<div></div>');
	      		divRow.attr('class', 'row-sanpham');

	      		var aElement = $('<a></a>');
	      		aElement.attr('href', '');
	      		divRow.append(aElement);
	      		var divAnhSanPham = $('<div class="anhsanpham"></div>');
	      	
	      		var img = $('<img>');
	      		img.attr({
	      			'src': image,
	      			'alt': "asd"
	      		});
	      		divAnhSanPham.append(img);
	      		aElement.append(divAnhSanPham);

	      		var divTen = $('<div class="tensanpham"></div>');
	      		divTen.html(name);
	      		divRow.append(divTen);

	      		var divGiaSanPham = $('<div class="giasanpham"></div>')
	      		divGiaSanPham.html(price +" d");
	      		divRow.append(divGiaSanPham);

	      		var divBtMua = $('<div class="btmua"></div>');
	      		var button = $('<button  name="btmua" >Mua</button> ');
	      		button.attr({
	      			'ten' : id,
	      			'class': 'btn btn-default button-mua'
	      		});
	      		divBtMua.append(button);
	      		divRow.append(divBtMua);
	      		khungSanPham.append(divRow);
	      		// var imagesanpham = $('.imagesanpham');
	      		// imagesanpham.attr({
	      		// 	'src': image,
	      		// 	'alt': "asd"
	      		// });
	      		// var tensanpham = $('.tensanpham');
	      		// tensanpham.html(name);
	      		// var giasanpham = $('.giasanpham');
	      		// giasanpham.html(price);
	      	}
	      });
	    }
	  });
	</script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$(document).on('click', '.button-mua', function(){
				var id = $(this).attr('ten');
				window.location.href=Routes.product_path(id);
			});
		});
		
	</script>
</body>
</html>
