
	<h2>Insert Product</h2>
	<div class="row1">
		<div class="khungrow">
			<%= form_for @product do |form| %>
		    <div class="form-group1">
		      	<div class="row-left">
		      		<%= form.label "Full name" %>
		      	</div>
		      	<div class="row-right">
		      	  <%= form.text_field :name, class: 'form-control', placeholder: 'Full name' %>
		      	</div>
		    </div>
		    <div class="form-group1">
			    <div class="row-left">
			   		<%= form.label "Description" %>
			   	</div>
		      	<div class="row-right">
		      		<%= form.text_field :description, class: 'form-control', placeholder: 'Description' %>
		      	</div>
		    </div>
		    <div class="form-group1">
			    <div class="row-left">
			   		<%= form.label "Category" %>
			   	</div>
		      	<div class="row-right">
		      		<%= form.text_field :category, class: 'form-control', placeholder: 'category' %>
		      	</div>
		    </div>
		    <div class="form-group1">
		    	<div class="row-left">
			   		<%= form.label "Price" %>
			   	</div>
		      	<div class="row-right">
		      		<%= form.text_field :price, class: 'form-control', placeholder: 'price' %>
		      	</div>
		    </div>
		    <div class="form-group1">
		    	<div class="row-left">
			   		<%= form.label "Quality" %>
			   	</div>
		      	<div class="row-right">
		      		<%= form.text_field :quality, class: 'form-control', placeholder: 'quality' %>
		      	</div>
		    </div>
		    <div class="form-group1"> 
		     <%= form.submit "Create", class: 'btn btn-default btn-regis' %>       
				</div>
			<% end %>
		</div>
	</div>